
*{
   
}


.header {
    display: flex;
}

.bello_logo {
    color: rgb(226, 23, 23);
    font-size: 35px;
    padding-left: 40px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style-type: none;
}

.punkt_menu{
    margin-right: 40px;
}

.log_in_price {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 500px;
    margin-right: 40px;
    padding: 10px;
}

.button_log_get {
    background:rgb(255, 254, 254);
    color: rgb(121, 121, 121);
    border:2px solid #c5c5c5;
    padding:0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

.meet {
    text-transform: uppercase;
}

.block-img {
    display: flex;
}

.text_meet_bello {
    padding-top: 200px;
    padding-left: 40px;
}

.text_meet  {
   text-transform: uppercase;
   color: rgb(226, 23, 23);
}

.text_kind {
    font-size: 60px;
}

texr_financial future {
    font-size: 40px
}

.button_get_price {
  background: rgb(226, 23, 23);
  color:aliceblue;
  border:none;
  padding:0px;
  width: 140px;
}

.button_text {
    text-transform: uppercase;
}

.img_family {
    Width: 800px;
    padding-top: 40px;

}

.futter {
    padding-left: 40px;
}

.bello_logo_futter {
color: rgb(226, 23, 23);
font-size: 35px;
}

.button_go{
    background:rgb(255, 254, 254);
    color: rgb(121, 121, 121);
    border:2px solid #c5c5c5;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-bottom: 40px;
}

width: 1440px;